<h2>Form Reactive</h2>

<div class="row">
  <div class="col-8">

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >

      <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username"
          formControlName="username">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email"
          formControlName="email">
        </div>
      </div>

      <div formGroupName="comments">
        <div class="form-group">
          <label for="comment">Commento</label>
          <textarea class="form-control" id="commento"
          formControlName="commento"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        Submit
      </button>

    </form>

  </div>
</div>
